*{
  box-sizing: border-box;
  position: relative;
}

body{
  background-color: #21D4FD;
  background-image: -webkit-linear-gradient(181deg, #21D4FD 0%, #efccff 100%);
  background-image: -moz-linear-gradient(181deg, #21D4FD 0%, #efccff 100%);
  background-image: -o-linear-gradient(181deg, #21D4FD 0%, #efccff 100%);
  background-image: linear-gradient(181deg, #21D4FD 0%, #efccff 100%);
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.undo {
  all: initial;
}

a{ text-decoration: none; }

header{
  width: 100%;
  float: left;
  padding: 10px 10%;
  border-bottom: rgba( 0, 0, 0, 0.1 );
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
}

header a{
  color:  #f6f5f5;
  font-weight: 800;
  font-size: 101%;
  transition: font-size 0.8s cubic-bezier(.9,-0.28,.48,1.29);
}

header a:hover{
  text-decoration: underline;
  font-size: 100%;
}

header .left{
  text-align: left;
}

header .centered{
  text-align: center;
}

header .right{
  text-align: right;
}

section {
  width: 100%;
  float: left;
  padding: 80px 10%;
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
}

section.centred{
  text-align: center;

}


.editor{
  
  width: 100%;
  padding: 20px 10%;
  height: auto;
  padding: 5% 2%;
  background: #fefefe;
  border-radius: 18px
}